{% extends '@EasyAdminHelper/layout.html.twig' %}

{% block content_title %}<a href="{{ url('admin_doc') }}">Doc</a> › DB{% endblock %}
{% block page_actions %}
    {#<a class="btn btn-primary" href="/admin">OK</a>#}
{% endblock %}

{% block main %}
    {% for diagram in diagrams %}
        <h4 style="margin-top: 20px">{{ diagram.basename|replace({'.svg': ''})|ucfirst }}</h4>
        {#<img src="{{ url('admin_doc_diagram', {filename: diagram.filename})}}" alt="{{ diagram.basename }}">#}
        <object data="{{ url('admin_doc_diagram', {filename: diagram.filename})}}"></object>
    {% endfor %}
{% endblock %}
